
<ion-content>
  <div id="content-container" >

    <div id="ilustra__o"  >
      <img src="assets/skins/__img___ilustra__o.png" id="__img___ilustra__o" />
    </div>

    <div id="este_app_tem_como_fun__o_auxili__lo_a_reorganizar_suas_metas_di_rias_te_dando_dicas_de_autocuidado_para_que_voc__se_sinta_motivado_" >
      <span style="font-style:normal; font-weight:normal; text-decoration:NONE; ">Este app tem como funo<br/>auxili-lo</span><span style="color:#FFFFFF; font-style:normal; font-weight:bold; text-decoration:NONE; "> a reorganiz</span><span style="font-style:normal; font-weight:normal; text-decoration:NONE; ">ar<br/>suas metas dirias<br/>te dando dicas</span><span style="color:#FFFFFF; font-style:normal; font-weight:bold; text-decoration:NONE; "><br/>de autocuid</span><span style="font-style:normal; font-weight:normal; text-decoration:NONE; ">ado<br/>para que voc<br/>se sinta mot</span>
    </div>

    <a id="rectangle_42_cls_a"  _par="" href="tela_inicial_2.html" >
      <div id="rectangle_42_ek1"  ></div>
      <div id="eva_arrow_ios_back_fill"  >
        <img src="assets/skins/vector1.png" id="vector" />
      </div>
    </a>

  </div>
</ion-content>
