
<ion-content>
  <div id="content-container" >

    <div id="ilustra__o"  (click)="requestPage()" >
      <img src="assets/skins/ilustra__o.PNG" id="__img___ilustra__o" />
    </div>

    <div class="box-text">
      <div id="este_app_tem_como_fun__o_auxili__lo_a_reorganizar_suas_metas_di_rias_te_dando_dicas_de_autocuidado_para_que_voc__se_sinta_motivado_" (click)="requestPage()">
        <img src="assets/skins/este_app_tem_como_fun__o_auxili__lo_a_reorganizar_suas_metas_di_rias_te_dando_dicas_de_autocuidado_para_que_voc__se_sinta_motivado_.PNG"  />      </div>
    </div>
    

    <ion-fab vertical="bottom" horizontal="start" slot="fixed" (click)="requestPageBack()">
      <ion-fab-button>
        <ion-icon name="chevron-back-outline"></ion-icon></ion-fab-button>
    </ion-fab>

  </div>
</ion-content>
