
<ion-content>
  <div id="content-container" >
    <div id="dicas_importantes" >
      <img src="assets/skins/dicas_importantes.PNG"  />
    </div>
    <div class="container-cards">
      <ion-list lines="none">
        <div class="item">
          <div class="box-card">
            <div class="logo">
              <img src="assets/skins/youtube-logo-icone.png" id="netflix" />
            </div>
            <div class="card">
              <div class="text">
                Uma visão apocalíptica acerca de como a sociedade tem sido
                transformada com a chegada das tecnologias digitais de informação.<br>
                Steve Cutts aponta, através de uma animação cartunesca, a mecanização da mente
                humana e como isso tem resultado em uma sociedade "sem alma".
              </div>
              <ion-button (click)="openUrlExterna(1)"> Saiba mais</ion-button>
            </div>
          </div>  
          <div class="box-card">
            <div class="logo">
              <img src="assets/skins/vittude.png" id="vittude" />
            </div>
            <div class="card">
              <div class="text">
                A Hiperconectividade é resultado de vários estímulos negativos que
                resultam no uso incontrolável do celular no nosso dia a dia. <br>
                Compreender essa relação, pode ser essencial na busca por uma vida mais saudável.
              </div>
              <ion-button (click)="openUrlExterna(2)"> Saiba mais</ion-button>
            </div>
          </div>  
          <div class="box-card">
            <div class="logo">
              <img src="assets/skins/netflix.png" id="netflix" />
            </div>
            <div class="card">
              <div class="text">
                O Dilema das Redesé uma produção da 
                Netflix sobre como a ansiedade pelas redes pode transformar a vida de uma
                pessoa e nem imaginamos que pode acontecer com nós mesmos. <br>
                Um longa metragem dirigido por Jeff Orlowski.
              </div>
              <ion-button (click)="openUrlExterna(3)"> Saiba mais</ion-button>
            </div>
          </div> 
        </div>
      </ion-list>
    </div>
  </div>
</ion-content>
