
<ion-content>
  <div id="content-container" >
    <div class="content-card">
      <div id="app_id2_1"  >
        <img src="assets/skins/app_id2_1_ek1.png" id="app_id2_1_ek1" />
  
      </div>
      <div id="que_bom_que_voc__completou_seus_objetivos_do_dia_" >
        Que bom que você completou seus objetivos do dia!
      </div>
      <img src="assets/skins/foto_por_do_sol.png"  id="foto_parque" />
      <div id="que_tal_fazer_um_passeio_de_30_minutos_no_parque_da_sua_cidade_" >
				<span style="font-style:normal; font-weight:normal; text-decoration:NONE; ">Que tal<br/></span><span style="color:#FFFFFF; font-style:normal; font-weight:bold; text-decoration:NONE; ">sair para fotografar<br/>o pôr do sol</span>
      </div>
    </div>
    <ion-fab vertical="bottom" horizontal="start" slot="fixed" (click)="requestPage()">
      <ion-fab-button>
        <ion-icon name="chevron-back-outline"></ion-icon></ion-fab-button>
    </ion-fab>
  </div>
</ion-content>
