<ion-content>
  <div id="content-container" >
    <div id="parab_ns_por_completar_suas_tarefas_do_dia__voc__ganhou_uma_estrela_" >
      <span style="font-style:normal; font-weight:normal; text-decoration:NONE; ">Parabéns</span><span style="color:#2EA8FF; font-family:Roboto; font-size:16; font-style:normal; font-weight:normal; text-decoration:NONE; "><br/> por completar suas tarefas do dia!<br/>você ganhou uma estrela</span>
    </div>
    <div class="star" (click)="requestPage()">
      <figure class="gif">
        <img src="assets/skins/Estrela_GIF.gif">
      </figure>
    </div>
  </div>
  <script>var specialChars = document.querySelectorAll("span.char"); for(var c=0; c<specialChars.length; c++){ specialChars[c].innerHTML = decodeURIComponent(specialChars[c].innerHTML); }</script>
</ion-content>
