<ion-content>
  <div id="content-container" >
    <div id="parab_ns_por_completar_suas_tarefas_do_dia__voc__ganhou_uma_estrela_" >
      <img src="assets/skins/parab_ns_por_completar_suas_tarefas_do_dia!_voc__ganhou_uma_estrela_.PNG">
    </div>
    <div class="star" (click)="requestPage()">
      <figure class="gif">
        <img src="assets/skins/Estrela_GIF.gif">
      </figure>
    </div>
  </div>
  <script>var specialChars = document.querySelectorAll("span.char"); for(var c=0; c<specialChars.length; c++){ specialChars[c].innerHTML = decodeURIComponent(specialChars[c].innerHTML); }</script>
</ion-content>
