
<ion-content>
  <div id="content-container" >
    <div id="ol__" >
      Olá,
    </div>
    <div id="clique_no_bot_o_e_comece_a_reorganizar_o_seu_dia" >
      <span style="font-style:normal; font-weight:normal; text-decoration:NONE; ">Clique no botão e comece<br/>a</span><span style="color:#256296; font-style:normal; font-weight:bold; text-decoration:NONE; "> reorganizar </span><span style="font-style:normal; font-weight:normal; text-decoration:NONE; ">o seu dia</span>
    </div>

    <a id="app_id2_1_cls_a"  (click)="requestPage()">
      <img src="assets/skins/app_id2_1_ek1.png" id="app_id2_1_ek1" />
    </a>
  </div>
</ion-content>
