
<ion-content>
  <div id="content-container" (click)="requestPage()">
    <div id="o_tempo_que_gastamos_com_o_consumo_de_m_dias_nos_prende_a_aten__o_e_nos_tiram_a_produtividade_do_dia_a_dia_" >
      <img (click)="requestPage()" src="assets/skins/o_tempo_que_gastamos_com_o_consumo_de_m_dias_nos_prende_a_aten__o_e_nos_tiram_a_produtividade_do_dia_a_dia_.PNG" />
    </div>
    <div class="photo">
      <img (click)="requestPage()" src="assets/skins/pexels_photo_by_ola_dapo.png" id="pexels_photo_by_ola_dapo" />
    </div>
  </div>
</ion-content>
