<ion-content>
  <div id="content-container" >
    <div class="content-card">
      <div id="app_id2_1"  >
        <img src="assets/skins/app_id2_1_ek1.png" id="app_id2_1_ek1" />
      </div>
      <div id="que_bom_que_voc__completou_seus_objetivos_do_dia_" >
        <img src="assets/skins/que_bom_que_voc__completou_seus_objetivos_do_dia!.PNG" />
      </div>
      <img src="assets/skins/foto_parque.png" id="foto_parque" />
      <div id="que_bom_que_voc__completou_seus_objetivos_do_dia_" >
        <img src="assets/skins/que_bom_que_voc__completou_seus_objetivos_do_dia!.PNG" id="text" />
      </div>
    </div>
    <ion-fab vertical="bottom" horizontal="start" slot="fixed" (click)="requestPage()">
      <ion-fab-button>
        <ion-icon name="chevron-back-outline"></ion-icon></ion-fab-button>
    </ion-fab>
  </div>
</ion-content>
